      <div class="footer-top">
            <div class="container">
              <div class="row">
      
                <div class="col-lg-3 col-md-6">
                  <div class="footer-info">
                    <h3 style="margin-bottom:-50px"><img src="assets/img/logo.png" style="height:100px"alt="logo" class="img-fluid">AuHuur<span>.tv</span></h3>
                 
                    <div class="social-links mt-3" style="margin-left:100px">
                      
                        <a href="https://twitch.tv/auhuur_tv" target="_blank" class="twitter"><i class="bx bxl-twitch"></i></a>
                        <a href="https://discord.gg/gnWQAgUYSV" target="_blank" class="twitter"><i class="bx bxl-discord"></i></a>
                      <a href="https://twitter.com/auhuurtv" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                      <a href="mailto:info@auhuur.tv" class="twitter"><i class="bx bx-mail-send"></i></a>
                    
                    </div>
                  </div>
                </div>
      
               
      
                <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Servers / Services</h4>
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://discord.gg/gnWQAgUYSV" target="_blank" >Discord Server</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Minecraft Server</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Rust Server</a></li>
                    
      
                  </ul>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Media Kit</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Presse</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="/Regeln">Regeln</a></li>
                    </ul>
                  </div>
                
                <div class="col-lg-4 col-md-6 footer-newsletter" id="newsletter" style="color:white">
               
                </div>
                
    
              </div>
            </div>
          </div>
      
          <div class="container">
            
            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
              <p>    <a href="/Datenschutz">Datenschutz</a>
               |  <a href="/Impressum">Impressum</a></p>
            Powered by <a href="https://wenisch.tech">wenisch.tech</a>   and designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>. 
            <div class="copyright">
                &copy; Copyright 2021<strong><span>AuHuur</span>.tv</strong> . All Rights Reserved.
              </div>
            </div>
          </div>